.filterStyle {
    border-radius: 25px;
}

h4 {
    padding: 4px;
}

.stay {
    width: 80%;
    float: left;
    overflow: hidden;
}

/* Add these styles to your existing CSS */
.status-box {
    display: none;
    position: absolute;
    background-color: rgba(255, 251, 251, 0.8);
    color: rgb(206, 28, 28);
    padding: 8px;
    border-radius: 16px;
    z-index: 1; /* To ensure the box appears above the card content */
    left: 45%;
    margin-top: 80px;
  }
  
  .status-chip:hover + .status-box {
    display: block;
  }
  

  
  /* In your CSS file */
.app-container {
    display: flex;
  }
  
  .custom-filter-container {
    position: sticky;
    top: 0;
    height: 100vh; /* Adjust the height as needed */
    overflow-y: auto;
  }
  
  .main-content {
    flex: 1;
    padding: 20px;
    /* Add any additional styles for your main content */
  }
  
  .disable-scroll {
    overflow: hidden;
  }

  .avatar {
    width: 40px;
    height: 40px;
    background-color: #3498db;
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 4px;
  }
  