#msg {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%; /* Makes the shape a circle */
    background-color: red;
    color: white;
    text-align: center;
    line-height: 20px; /* Vertically center the text */
    margin: 6px;
  }
  